//partial
nav {
  width: 100%;
  min-height: 10vh;
  background-color: rgba(83, 115, 126, 0.692);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 1rem 6rem 1rem 3rem;
  @media screen and (max-width: 414px) {
    padding: 1rem;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  li {
    padding-left: 6rem;
    margin: 0;
    cursor: pointer;
    @media screen and (max-width: 414px) {
      padding-left: 1rem;
    }
  }
  a {
    // font-family: "Noto Serif SC", serif;
    text-decoration: none;
    display: block;
    color: rgba(241, 221, 221, 0.774);
    font-size: 1.2rem;
    @media screen and (max-width: 414px) {
      font-size: 1rem;
    }
  }
  #name {
    font-size: 1.5rem;
    width: 5rem;
    color: rgb(215, 235, 241);

    @media screen and (max-width: 414px) {
      font-size: 1rem;
      width: 3rem;
    }
  }
}
