@import "./nav";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font-family: 'Fira Sans', sans-serif;
// font-family: 'Noto Serif SC', serif;

body {
}

h2 {
  //   font-family: "Noto Serif SC", serif;
}

//english
span {
  font-family: "Inter", sans-serif;
}
